@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Arimo:wght@500&family=Comfortaa&family=Kaushan+Script&family=League+Spartan:wght@400;700&family=Oswald&family=Pacifico&family=Poppins&family=Saira&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Sen&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'poppins';
}

body{
  background-color: rgb(211, 211, 211);
}

.jokeG{
  background-color: rgb(84, 129, 168);
  margin: 30px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.jokeG h1{
  color: white;
  font-family: 'Alkatra';
  letter-spacing: 2px;
}

.generateJokeButton{
  padding: 15px 40px;
  border: transparent;
  background-color: rebeccapurple;
  color: white;
  border-radius: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  margin: 20px;
}

.generateJokeButton:hover{
  background-color: green;
    transform: scale(1.1); 
    transition-duration: 1000ms;
}
.generateJokeButton:active{
    transform: scale(1.1); 
    transition-duration: 1000ms;
}

/* search joke */

.searchJoke{
  border: 2px solid rgb(82, 77, 77);
  border-radius: 40px;
  padding: 30px 35px;
  padding-bottom: 30px;
}

.searchJoke label{
  color: gold;
  font-size: 13px;
  padding-right: 10px;
}

.searchJoke input{
  padding: 5px;
  border-radius: 70px;
  border: transparent;
  margin-right: 5px;
}

.searchJoke button{
  padding: 5px 10px;
  border: transparent;
  border-radius: 10px;
  color: white;
  background-color: green;
  cursor: pointer;
}

/* jokes output */

th{
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
  font-size: 25px;
  letter-spacing: 10px;
}

/* enter the joke */
.EnterJoke{
  border: 2px solid rgb(82, 77, 77);
  border-radius: 40px;
  padding: 30px 35px;
  margin-left: 80px;
}
.EnterJoke input{
   padding: 5px;
  border-radius: 70px;
  border: transparent;
  margin-right: 5px;
  border: none;
}

.EnterJoke button{
  padding: 5px 10px;
  border: transparent;
  border-radius: 10px;
  color: white;
  background-color: green;
  cursor: pointer;
}

.inputBox{
  display: flex;
  justify-content: space-evenly;
}





.ClearJoke{
  width: 10%;
  margin-left: 90%;
  position: sticky;

}
.ClearAll{
  padding: 15px 15px;
  border: transparent;
  border-radius: 60%;
  color: white;
  background-color: rgba(248, 0, 0, 0.774);
  cursor: pointer;
}

